body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(128, 130, 205);
}

header {
    background-color: rgb(128, 130, 205);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(41, 32, 104);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.newItem {
    background-color: rgb(128, 130, 205);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#Age {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 50px;
}

::placeholder{
    color:#000000;
}

#Tenure {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 50px;
}

#UsageFrequency {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 110px;
}

#SupportCalls {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 90px;
}

#PaymentDelay {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 100px;
}

#TotalSpend {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 80px;
}

#LastInteraction {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    width: 100px;
}

#Gender {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.3s;
}

#SubscriptionType {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.3s;
}

#ContractLength {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.3s;
}

.select {
    outline: none;
    background: #A9A9A9;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    cursor: pointer;
}


.addBtn {
    outline: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.3s;
    padding: 9px 10px;
    background-color: #A9A9A9;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #0ccc22;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

.update:hover {
    color: #000000;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
}

table{
    background-color: #A9A9A9;
    width: 50%;
}

tr:nth-child(odd){
    background-color: #A9A9A9;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

